# Tratamento de Dados do Festival de Cannes

In [1]:
import os
import pandas as pd
#import pandas_profiling
#conda install -c conda-forge pandas-profiling
#conda install xlwt openpyxl xlrd

In [2]:
os.chdir("../microdados")
os.getcwd()

'/home/antero/Documentos/TCC/microdados'

## Lendo dados do arquivo XLSX e importando para o DataFrame do Pandas

In [3]:
df_palmedor=pd.read_excel('../microdados/CannesPalmedor.xlsx', sheet_name='Final')

## Explorando o DataFrame

In [4]:
df_palmedor.shape

(136, 7)

In [5]:
df_palmedor.isnull().sum()

Year                0
Film               44
Original title     84
Director(s)        44
Country             0
Country.1           0
Unnamed: 6        136
dtype: int64

In [6]:
df_palmedor.isnull().mean()

Year              0.000000
Film              0.323529
Original title    0.617647
Director(s)       0.323529
Country           0.000000
Country.1         0.000000
Unnamed: 6        1.000000
dtype: float64

In [7]:
df_palmedor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            136 non-null    int64
 1   Film            92 non-null     object
 2   Original title  52 non-null     object
 3   Director(s)     92 non-null     object
 4   Country         136 non-null    object
 5   Country.1       136 non-null    object
 6   Unnamed: 6      0 non-null      float64
dtypes: float64(1), int64(1), object(5)
memory usage: 7.6+ KB

In [8]:
df_palmedor.head()

,Year,Film,Original title,Director(s),Country,Country.1,Unnamed: 6
0,1939,Union Pacific,NaN,Cecil B. DeMille,USA,USA,NaN
1,1946,The Turning Point,Velikij perelom / Великий перелом,Fridrikh Ermler,USSR,USSR,NaN
2,1946,Men Without Wings,Muži bez křídel,František Čáp,Czechoslovakia,Czechoslovakia,NaN
3,1946,The Last Chance,Die Letzte Chance,Leopold Lindtberg,Switzerland,Switzerland,NaN
4,1946,Torment,Hets,Alf Sjöberg,Sweden,Sweden,NaN

In [9]:
df_palmedor.tail()

,Year,Film,Original title,Director(s),Country,Country.1,Unnamed: 6
131,2017,NaN,NaN,NaN,Germany,Germany,NaN
132,2017,NaN,NaN,NaN,France,France,NaN
133,2017,NaN,NaN,NaN,Denmark,Denmark,NaN
134,2018,Shoplifters,Manbiki kazoku / 万引き家族,Hirokazu Kore-eda,Japan,Japan,NaN
135,2019,Parasite §,Gisaengchung / 기생충,Bong Joon-ho,South Korea,South Korea,NaN

### Filtrando Dados

In [10]:
dropcols_palmedor=['Director(s)', 'Country', 'Country.1']
df_palmedor.drop(columns=dropcols_palmedor, inplace=True)

In [11]:
df_palmedor.dropna(subset=['Film'], inplace=True)

In [12]:
df_palmedor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 135
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            92 non-null     int64
 1   Film            92 non-null     object
 2   Original title  52 non-null     object
 3   Unnamed: 6      0 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.6+ KB

In [13]:
df_palmedor.head()

   Year               Film                     Original title  Unnamed: 6
0  1939      Union Pacific                                NaN         NaN
1  1946  The Turning Point  Velikij perelom / Великий перелом         NaN
2  1946  Men Without Wings                    Muži bez křídel         NaN
3  1946    The Last Chance                  Die Letzte Chance         NaN
4  1946            Torment                               Hets         NaN

In [14]:
df_palmedor.tail()

     Year             Film          Original title  Unnamed: 6
127  2015          Dheepan                     NaN         NaN
128  2016  I, Daniel Blake                     NaN         NaN
130  2017       The Square                     NaN         NaN
134  2018      Shoplifters  Manbiki kazoku / 万引き家族         NaN
135  2019       Parasite §      Gisaengchung / 기생충         NaN

## Salvando Data Frame Tratado

In [15]:
df_palmedor.to_csv('../tratados/df_palmedor_tratado.csv')

In [16]:
cols_palmedor= ['Year','Film']

In [17]:
df_palmedor=pd.read_excel('../microdados/CannesPalmedor.xlsx', sheet_name='Final', usecols=cols_palmedor)

In [18]:
df_palmedor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    136 non-null    int64
 1   Film    92 non-null     object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB

In [19]:
df_palmedor.dropna(inplace=True)

In [20]:
df_palmedor

     Year               Film
0    1939      Union Pacific
1    1946  The Turning Point
2    1946  Men Without Wings
3    1946    The Last Chance
4    1946            Torment
..    ...                ...
127  2015            Dheepan
128  2016    I, Daniel Blake
130  2017         The Square
134  2018        Shoplifters
135  2019         Parasite §

[92 rows x 2 columns]

In [21]:
cols_imdb=['tconst','titleType','primaryTitle','originalTitle', 'genres','startYear']

In [22]:
df_imdb=pd.read_csv("../microdados/title.basics.tsv", sep='\t', usecols=cols_imdb, na_values='\\N')

In [23]:
type_movie=['movie']

In [24]:
df_imdb_filtered = df_imdb[df_imdb.titleType.isin(type_movie)]

In [25]:
df_imdb_filtered

,tconst,titleType,primaryTitle,originalTitle,startYear,genres
498,tt0000502,movie,Bohemios,Bohemios,1905.0,NaN
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,1906.0,"Biography,Crime,Drama"
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,1907.0,Drama
625,tt0000630,movie,Hamlet,Amleto,1908.0,Drama
668,tt0000675,movie,Don Quijote,Don Quijote,1908.0,Drama
...,...,...,...,...,...,...
7638039,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015.0,Documentary
7638066,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,2007.0,Documentary
7638078,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,2013.0,Comedy
7638089,tt9916730,movie,6 Gunn,6 Gunn,2017.0,NaN
7638100,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013.0,Documentary

In [26]:
df_IMDB_palmedor = df_palmedor.merge(df_imdb_filtered, left_on=['Year','Film'], right_on=['startYear','primaryTitle'])

In [27]:
df_IMDB_palmedor

,Year,Film,tconst,titleType,primaryTitle,originalTitle,startYear,genres
0,1939,Union Pacific,tt0032080,movie,Union Pacific,Union Pacific,1939.0,"Drama,Western"
1,1946,Men Without Wings,tt0038760,movie,Men Without Wings,Muzi bez krídel,1946.0,"Drama,War"
2,1946,Pastoral Symphony,tt0039004,movie,Pastoral Symphony,La symphonie pastorale,1946.0,Drama
3,1949,The Third Man,tt0041959,movie,The Third Man,The Third Man,1949.0,"Film-Noir,Mystery,Thriller"
4,1951,Miss Julie,tt0043567,movie,Miss Julie,Fröken Julie,1951.0,"Drama,Romance"
5,1951,Miracle in Milan,tt0043809,movie,Miracle in Milan,Miracolo a Milano,1951.0,"Comedy,Drama,Fantasy"
6,1952,Two Cents Worth of Hope,tt0044572,movie,Two Cents Worth of Hope,Due soldi di speranza,1952.0,"Comedy,Romance"
7,1953,The Wages of Fear,tt0046268,movie,The Wages of Fear,Le salaire de la peur,1953.0,"Adventure,Drama,Thriller"
8,1956,The Silent World,tt0049518,movie,The Silent World,Le monde du silence,1956.0,"Adventure,Biography,Documentary"
9,1964,The Umbrellas of Cherbourg,tt0058450,movie,The Umbrellas of Cherbourg,Les parapluies de Cherbourg,1964.0,"Drama,Musical,Romance"
10,1966,A Man and a Woman,tt0061138,movie,A Man and a Woman,Un homme et une femme,1966.0,"Drama,Romance"
11,1966,"The Birds, the Bees and the Italians",tt0062271,movie,"The Birds, the Bees and the Italians",Signore & signori,1966.0,Comedy
12,1970,MASH,tt0066026,movie,MASH,MASH,1970.0,"Comedy,Drama,War"
13,1971,The Go-Between,tt0067144,movie,The Go-Between,The Go-Between,1971.0,"Drama,Romance"
14,1973,The Hireling,tt0070180,movie,The Hireling,The Hireling,1973.0,Drama
15,1973,Scarecrow,tt0070643,movie,Scarecrow,Scarecrow,1973.0,Drama
16,1974,The Conversation,tt0071360,movie,The Conversation,The Conversation,1974.0,"Drama,Mystery,Thriller"
17,1975,Chronicle of the Years of Fire,tt0072782,movie,Chronicle of the Years of Fire,Ahdat sanawovach el-djamr,1975.0,Drama
18,1976,Taxi Driver,tt0075314,movie,Taxi Driver,Taxi Driver,1976.0,"Crime,Drama"
19,1977,Padre Padrone,tt0076517,movie,Padre Padrone,Padre padrone,1977.0,"Biography,Drama"
20,1979,Apocalypse Now,tt0078788,movie,Apocalypse Now,Apocalypse Now,1979.0,"Drama,Mystery,War"
21,1979,The Tin Drum,tt0078875,movie,The Tin Drum,Die Blechtrommel,1979.0,"Drama,War"
22,1980,Kagemusha,tt0080979,movie,Kagemusha,Kagemusha,1980.0,"Drama,History,War"
23,1981,Man of Iron,tt0082222,movie,Man of Iron,Czlowiek z zelaza,1981.0,"Drama,History"
24,1983,The Ballad of Narayama,tt0084390,movie,The Ballad of Narayama,Narayama bushikô,1983.0,Drama
25,1986,The Mission,tt0091530,movie,The Mission,The Mission,1986.0,"Adventure,Drama,History"
26,1989,"Sex, Lies, and Videotape",tt0098724,movie,"Sex, Lies, and Videotape","Sex, Lies, and Videotape",1989.0,Drama
27,1990,Wild at Heart,tt0100935,movie,Wild at Heart,Wild at Heart,1990.0,"Comedy,Crime,Drama"
28,1992,The Best Intentions,tt0104350,movie,The Best Intentions,Den goda viljan,1992.0,"Biography,Drama,Romance"
29,1993,Farewell My Concubine,tt0106332,movie,Farewell My Concubine,Ba wang bie ji,1993.0,"Drama,Music,Romance"
30,1993,The Piano,tt0107822,movie,The Piano,The Piano,1993.0,"Drama,Music,Romance"
31,1994,Pulp Fiction,tt0110912,movie,Pulp Fiction,Pulp Fiction,1994.0,"Crime,Drama"
32,1995,Underground,tt0114787,movie,Underground,Underground,1995.0,"Comedy,Drama,Fantasy"
33,1996,Secrets & Lies,tt0117589,movie,Secrets & Lies,Secrets & Lies,1996.0,"Comedy,Drama"
34,1997,Taste of Cherry,tt0120265,movie,Taste of Cherry,Ta'm e guilass,1997.0,Drama
35,1997,The Eel,tt0120408,movie,The Eel,Unagi,1997.0,Drama
36,2000,Dancer in the Dark,tt0168629,movie,Dancer in the Dark,Dancer in the Dark,2000.0,"Crime,Drama,Musical"
37,2001,The Son's Room,tt0208990,movie,The Son's Room,La stanza del figlio,2001.0,Drama
38,2002,The Pianist,tt0253474,movie,The Pianist,The Pianist,2002.0,"Biography,Drama,Music"
39,2003,Elephant,tt0363589,movie,Elephant,Elephant,2003.0,"Crime,Drama,Thriller"
40,2004,Fahrenheit 9/11,tt0361596,movie,Fahrenheit 9/11,Fahrenheit 9/11,2004.0,"Documentary,Drama,War"
41,2005,The Child,tt0456396,movie,The Child,L'enfant,2005.0,"Crime,Drama,Romance"
42,2007,"4 Months, 3 Weeks and 2 Days",tt1032846,movie,"4 Months, 3 Weeks and 2 Days","4 luni, 3 saptamâni si 2 zile",2007.0,Drama
43,2009,The White Ribbon,tt1149362,movie,The White Ribbon,Das weiße Band - Eine deutsche Kindergeschichte,2009.0,"Drama,History,Mystery"
44,2010,Uncle Boonmee Who Can Recall His Past Lives,tt1588895,movie,Uncle Boonmee Who Can Recall His Past Lives,Loong Boonmee raleuk chat,2010.0,"Drama,Fantasy"
45,2011,The Tree of Life,tt0478304,movie,The Tree of Life,The Tree of Life,2011.0,"Drama,Fantasy"
46,2012,Amour,tt1602620,movie,Amour,Amour,2012.0,"Drama,Romance"
47,2014,Winter Sleep,tt2758880,movie,Winter Sleep,Kis Uykusu,2014.0,Drama
48,2015,Dheepan,tt4082068,movie,Dheepan,Dheepan,2015.0,"Crime,Drama"
49,2016,"I, Daniel Blake",tt5168192,movie,"I, Daniel Blake","I, Daniel Blake",2016.0,Drama
50,2017,The Square,tt4995790,movie,The Square,The Square,2017.0,"Comedy,Drama"
51,2018,Shoplifters,tt8075192,movie,Shoplifters,Manbiki kazoku,2018.0,"Crime,Drama"