In [1]:
import pandas as pd

In [2]:
cols_enem=['TP_ST_CONCLUSAO','TP_ESCOLA','CO_ESCOLA','NO_MUNICIPIO_ESC','SG_UF_ESC','TP_LOCALIZACAO_ESC','NU_NOTA_CN',
     'NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','TP_STATUS_REDACAO','NU_NOTA_REDACAO']

In [5]:
df_enem=pd.read_csv("/home/antero/Work/microdados/MICRODADOS_ENEM_2019.csv", sep=";", encoding='latin-1', usecols=cols_enem)

In [6]:
df_enem

,TP_ST_CONCLUSAO,TP_ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,SG_UF_ESC,TP_LOCALIZACAO_ESC,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_STATUS_REDACAO,NU_NOTA_REDACAO
0,1,1,NaN,NaN,NaN,NaN,472.9,466.0,497.3,369.1,1.0,780.0
1,3,1,NaN,NaN,NaN,NaN,358.9,495.4,482.3,416.5,1.0,600.0
2,2,3,15230023.0,Paragominas,PA,1.0,574.2,538.7,582.6,571.5,1.0,640.0
3,2,2,15027635.0,São Sebastião da Boa Vista,PA,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5095265,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5095266,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5095267,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5095268,3,1,NaN,NaN,NaN,NaN,458.8,380.6,493.1,396.7,1.0,800.0
5095269,1,1,NaN,NaN,NaN,NaN,451.6,473.5,473.2,470.2,1.0,280.0

In [7]:
df_enem_lp = df_enem.dropna()

In [8]:
cols_escolas=['CO_ENTIDADE', 'NO_ENTIDADE', 'IN_COMPUTADOR', 'IN_INTERNET_ALUNOS', 'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_BANDA_LARGA']

In [12]:
df_escolas=pd.read_csv("/home/antero/Work/microdados/ESCOLAS.CSV", sep='|', usecols=cols_escolas, encoding='latin-1')

In [13]:
df_escolas

,CO_ENTIDADE,NO_ENTIDADE,IN_COMPUTADOR,IN_INTERNET_ALUNOS,IN_INTERNET_APRENDIZAGEM,IN_ACESSO_INTERNET_COMPUTADOR,IN_BANDA_LARGA
0,43098282,ESC EST ENS MED ALBERTO PASQUALINI,1.0,1.0,1.0,1.0,1.0
1,43098460,ESC MUN ENS FUN PADRE JOSE DE ANCHIETA,1.0,1.0,1.0,1.0,1.0
2,43098479,ESC EST ENS MED PROFESSORA EULINA BRAGA,1.0,0.0,1.0,0.0,1.0
3,43098487,ESC MUN ENS FUN REPUBLICA DA COLOMBIA,1.0,0.0,0.0,0.0,0.0
4,43098495,ESC EST ENS FUN SALOMAO IOCHPE,1.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...
228516,52240355,CMEI COMUNIDADE LEGAL,1.0,0.0,0.0,0.0,1.0
228517,52254372,ESCOLA MUNICIPAL DE EDUCACAO INTEGRAL PROFESSO...,1.0,1.0,1.0,9.0,1.0
228518,52254380,CENTRO DE EDUCACAO INFANTIL VISAO,1.0,1.0,1.0,1.0,1.0
228519,52266354,CENTRO MUNICIPAL DE EDUCACAO INFANTIL PAULO FR...,1.0,0.0,1.0,0.0,1.0
228520,52274373,COLEGIO SELECTUS,1.0,0.0,1.0,0.0,1.0

In [14]:
df_escolas_lp = df_escolas.dropna()

In [18]:
df_enem_lp.merge(df_escolas_lp, left_on='CO_ESCOLA', right_on='CO_ENTIDADE')

,TP_ST_CONCLUSAO,TP_ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,SG_UF_ESC,TP_LOCALIZACAO_ESC,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_STATUS_REDACAO,NU_NOTA_REDACAO,CO_ENTIDADE,NO_ENTIDADE,IN_COMPUTADOR,IN_INTERNET_ALUNOS,IN_INTERNET_APRENDIZAGEM,IN_ACESSO_INTERNET_COMPUTADOR,IN_BANDA_LARGA
0,2,3,15230023.0,Paragominas,PA,1.0,574.2,538.7,582.6,571.5,1.0,640.0,15230023,COLEGIO SOPHOS DE PARAGOMINAS,1.0,0.0,0.0,0.0,1.0
1,2,2,15230023.0,Paragominas,PA,1.0,410.7,535.7,578.8,560.7,1.0,580.0,15230023,COLEGIO SOPHOS DE PARAGOMINAS,1.0,0.0,0.0,0.0,1.0
2,2,2,15230023.0,Paragominas,PA,1.0,540.9,506.1,414.4,462.2,1.0,440.0,15230023,COLEGIO SOPHOS DE PARAGOMINAS,1.0,0.0,0.0,0.0,1.0
3,2,3,15230023.0,Paragominas,PA,1.0,567.4,587.4,588.5,634.1,1.0,820.0,15230023,COLEGIO SOPHOS DE PARAGOMINAS,1.0,0.0,0.0,0.0,1.0
4,2,3,15230023.0,Paragominas,PA,1.0,385.2,430.8,478.1,463.9,1.0,460.0,15230023,COLEGIO SOPHOS DE PARAGOMINAS,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894977,2,2,31353850.0,São João da Ponte,MG,1.0,515.5,519.2,526.1,622.1,1.0,720.0,31353850,EE DE ENSINO MEDIO,1.0,1.0,1.0,1.0,0.0
894978,2,2,31215759.0,Ibiá,MG,1.0,432.6,479.0,521.1,675.2,1.0,660.0,31215759,COL NOVA DIMENSAO,1.0,0.0,0.0,0.0,1.0
894979,2,3,33062510.0,Rio de Janeiro,RJ,1.0,539.1,467.8,544.2,605.1,1.0,540.0,33062510,ESCOLA PADRE DOUTOR FRANCISCO DA MOTTA,1.0,0.0,0.0,0.0,1.0
894980,2,2,42082390.0,Major Gercino,SC,1.0,513.3,552.0,579.7,685.6,1.0,600.0,42082390,EEB MANOEL VICENTE GOMES,1.0,1.0,1.0,1.0,1.0
894981,2,2,25070290.0,Pirpirituba,PB,1.0,396.2,494.4,465.1,569.3,1.0,460.0,25070290,EEEF M MONS WALFREDO LEAL,1.0,0.0,0.0,0.0,1.0

In [23]:
df_lp=df_escolas_lp = df_escolas.dropna()

,CO_ENTIDADE,NO_ENTIDADE,IN_COMPUTADOR,IN_INTERNET_ALUNOS,IN_INTERNET_APRENDIZAGEM,IN_ACESSO_INTERNET_COMPUTADOR,IN_BANDA_LARGA
0,43098282,ESC EST ENS MED ALBERTO PASQUALINI,1.0,1.0,1.0,1.0,1.0
1,43098460,ESC MUN ENS FUN PADRE JOSE DE ANCHIETA,1.0,1.0,1.0,1.0,1.0
2,43098479,ESC EST ENS MED PROFESSORA EULINA BRAGA,1.0,0.0,1.0,0.0,1.0
3,43098487,ESC MUN ENS FUN REPUBLICA DA COLOMBIA,1.0,0.0,0.0,0.0,0.0
4,43098495,ESC EST ENS FUN SALOMAO IOCHPE,1.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...
228516,52240355,CMEI COMUNIDADE LEGAL,1.0,0.0,0.0,0.0,1.0
228517,52254372,ESCOLA MUNICIPAL DE EDUCACAO INTEGRAL PROFESSO...,1.0,1.0,1.0,9.0,1.0
228518,52254380,CENTRO DE EDUCACAO INFANTIL VISAO,1.0,1.0,1.0,1.0,1.0
228519,52266354,CENTRO MUNICIPAL DE EDUCACAO INFANTIL PAULO FR...,1.0,0.0,1.0,0.0,1.0
228520,52274373,COLEGIO SELECTUS,1.0,0.0,1.0,0.0,1.0

In [20]:
df_enem.merge(df_escolas, left_on='CO_ESCOLA', right_on='CO_ENTIDADE')

,TP_ST_CONCLUSAO,TP_ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,SG_UF_ESC,TP_LOCALIZACAO_ESC,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_STATUS_REDACAO,NU_NOTA_REDACAO,CO_ENTIDADE,NO_ENTIDADE,IN_COMPUTADOR,IN_INTERNET_ALUNOS,IN_INTERNET_APRENDIZAGEM,IN_ACESSO_INTERNET_COMPUTADOR,IN_BANDA_LARGA
0,2,3,15230023.0,Paragominas,PA,1.0,574.2,538.7,582.6,571.5,1.0,640.0,15230023,COLEGIO SOPHOS DE PARAGOMINAS,1.0,0.0,0.0,0.0,1.0
1,2,2,15230023.0,Paragominas,PA,1.0,410.7,535.7,578.8,560.7,1.0,580.0,15230023,COLEGIO SOPHOS DE PARAGOMINAS,1.0,0.0,0.0,0.0,1.0
2,2,2,15230023.0,Paragominas,PA,1.0,540.9,506.1,414.4,462.2,1.0,440.0,15230023,COLEGIO SOPHOS DE PARAGOMINAS,1.0,0.0,0.0,0.0,1.0
3,2,3,15230023.0,Paragominas,PA,1.0,567.4,587.4,588.5,634.1,1.0,820.0,15230023,COLEGIO SOPHOS DE PARAGOMINAS,1.0,0.0,0.0,0.0,1.0
4,2,3,15230023.0,Paragominas,PA,1.0,385.2,430.8,478.1,463.9,1.0,460.0,15230023,COLEGIO SOPHOS DE PARAGOMINAS,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1145039,2,2,33077843.0,Rio de Janeiro,RJ,1.0,385.8,499.0,476.0,418.5,1.0,520.0,33077843,0716057 ESCOLA MUNICIPAL EMBAIXADOR DIAS CARNEIRO,1.0,0.0,1.0,0.0,1.0
1145040,2,2,33079706.0,Rio de Janeiro,RJ,1.0,NaN,NaN,NaN,NaN,NaN,NaN,33079706,CE DALVA DE OLIVEIRA,1.0,0.0,0.0,0.0,1.0
1145041,2,2,41354206.0,Maringá,PR,1.0,540.4,588.3,586.5,638.4,1.0,440.0,41354206,MANUEL DIAS DA SILVA E M PION EF,1.0,1.0,0.0,1.0,1.0
1145042,2,2,31215759.0,Ibiá,MG,1.0,432.6,479.0,521.1,675.2,1.0,660.0,31215759,COL NOVA DIMENSAO,1.0,0.0,0.0,0.0,1.0
1145043,2,3,33062510.0,Rio de Janeiro,RJ,1.0,539.1,467.8,544.2,605.1,1.0,540.0,33062510,ESCOLA PADRE DOUTOR FRANCISCO DA MOTTA,1.0,0.0,0.0,0.0,1.0

In [ ]:
df_enem_lp.