In [2]:
import os
os.getcwd()

'/home/antero/Work/notebooks'

In [3]:
import pandas as pd

In [4]:
cols_escolas=['CO_ENTIDADE', 'NO_ENTIDADE', 'IN_COMPUTADOR', 'IN_INTERNET_ALUNOS', 'IN_INTERNET_APRENDIZAGEM', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_BANDA_LARGA']

In [5]:
df_escolas=pd.read_csv("/home/antero/Work/microdados/ESCOLAS.CSV", sep='|', usecols=cols_escolas, encoding='latin-1')

In [7]:
df_escolas

,CO_ENTIDADE,NO_ENTIDADE,IN_COMPUTADOR,IN_INTERNET_ALUNOS,IN_INTERNET_APRENDIZAGEM,IN_ACESSO_INTERNET_COMPUTADOR,IN_BANDA_LARGA
0,43098282,ESC EST ENS MED ALBERTO PASQUALINI,1.0,1.0,1.0,1.0,1.0
1,43098460,ESC MUN ENS FUN PADRE JOSE DE ANCHIETA,1.0,1.0,1.0,1.0,1.0
2,43098479,ESC EST ENS MED PROFESSORA EULINA BRAGA,1.0,0.0,1.0,0.0,1.0
3,43098487,ESC MUN ENS FUN REPUBLICA DA COLOMBIA,1.0,0.0,0.0,0.0,0.0
4,43098495,ESC EST ENS FUN SALOMAO IOCHPE,1.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...
228516,52240355,CMEI COMUNIDADE LEGAL,1.0,0.0,0.0,0.0,1.0
228517,52254372,ESCOLA MUNICIPAL DE EDUCACAO INTEGRAL PROFESSO...,1.0,1.0,1.0,9.0,1.0
228518,52254380,CENTRO DE EDUCACAO INFANTIL VISAO,1.0,1.0,1.0,1.0,1.0
228519,52266354,CENTRO MUNICIPAL DE EDUCACAO INFANTIL PAULO FR...,1.0,0.0,1.0,0.0,1.0
228520,52274373,COLEGIO SELECTUS,1.0,0.0,1.0,0.0,1.0

In [6]:
df_escolas.dropna()

,CO_ENTIDADE,NO_ENTIDADE,IN_COMPUTADOR,IN_INTERNET_ALUNOS,IN_INTERNET_APRENDIZAGEM,IN_ACESSO_INTERNET_COMPUTADOR,IN_BANDA_LARGA
0,43098282,ESC EST ENS MED ALBERTO PASQUALINI,1.0,1.0,1.0,1.0,1.0
1,43098460,ESC MUN ENS FUN PADRE JOSE DE ANCHIETA,1.0,1.0,1.0,1.0,1.0
2,43098479,ESC EST ENS MED PROFESSORA EULINA BRAGA,1.0,0.0,1.0,0.0,1.0
3,43098487,ESC MUN ENS FUN REPUBLICA DA COLOMBIA,1.0,0.0,0.0,0.0,0.0
4,43098495,ESC EST ENS FUN SALOMAO IOCHPE,1.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...
228516,52240355,CMEI COMUNIDADE LEGAL,1.0,0.0,0.0,0.0,1.0
228517,52254372,ESCOLA MUNICIPAL DE EDUCACAO INTEGRAL PROFESSO...,1.0,1.0,1.0,9.0,1.0
228518,52254380,CENTRO DE EDUCACAO INFANTIL VISAO,1.0,1.0,1.0,1.0,1.0
228519,52266354,CENTRO MUNICIPAL DE EDUCACAO INFANTIL PAULO FR...,1.0,0.0,1.0,0.0,1.0
228520,52274373,COLEGIO SELECTUS,1.0,0.0,1.0,0.0,1.0

In [8]:
df_escolas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228521 entries, 0 to 228520
Data columns (total 7 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CO_ENTIDADE                    228521 non-null  int64
 1   NO_ENTIDADE                    228521 non-null  object
 2   IN_COMPUTADOR                  182468 non-null  float64
 3   IN_INTERNET_ALUNOS             182468 non-null  float64
 4   IN_INTERNET_APRENDIZAGEM       182468 non-null  float64
 5   IN_ACESSO_INTERNET_COMPUTADOR  182468 non-null  float64
 6   IN_BANDA_LARGA                 137776 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 12.2+ MB